stefangasser.com, www.stefangasser.com {
	@www host www.stefangasser.com
	redir @www https://stefangasser.com{uri} permanent

	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy astro:4321
}
